body {
    background-color: #061e44;
    color: white;
}

.container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: white;
}

.header {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.learning-heading {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.crypto-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.crypto-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.crypto-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.crypto-name {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.learning-data {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-panel {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 100px;
    height: 100%;
    box-sizing: border-box;
    background-color: #061e44;
}


#crypto-dropdown {
    width: 100%;
    margin-bottom: 10px;
}

.date-picker-container {
    display: flex;
    justify-content: center;
    gap: 20%;
    width: 100%;
    margin-top: 10px;
}

.date-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.date-picker {
    width: 48%;
}

.dash-date-picker {
    width: 150px; /* Adjust width to fit your layout */
}

.date-picker-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#load-data-button {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
}

#load-data-button:hover {
    background-color: #0056b3;
}


.right-panel {
    width: 65%;
    padding: 20px;
    font-size: 16px;
    color: white;
}


#crypto-dropdown .Select-control {
    color: black;
    background-color: white;
}

#crypto-dropdown .Select-menu {
    color: black;
    background-color: white;
}

#crypto-dropdown .Select-option {
    color: black;
    background-color: white;
}

#crypto-dropdown .Select-option.is-selected {
    background-color: #e0e0e0;
    color: black;
}

#crypto-dropdown .Select-placeholder {
    color: gray;
}

#crypto-dropdown .Select-arrow-zone {
    color: black;
}

#crypto-graph .dash-graph {
    background-color: #082255;
}